<%- layout("layouts/boilerplate") %>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Enim possimus veritatis natus eum. Rerum facere fugit ab quam. 
    Error omnis id dignissimos nemo quasi, officiis nobis excepturi 
    quaerat consequuntur eligendi.
    Sit, ratione? Impedit dolorum error asperiores. A, dicta eligendi nobis distinctio eaque 
    eum architecto blanditiis cupiditate numquam, amet id voluptatibus. Tempora quibusdam 
    ipsam beatae vero commodi, corrupti nihil hic velit?
  </p>
