<% layout("layouts/boilerplate") %> 
  <h1><%= camp.title %></h1>
  <h5><%= camp.location %></h5>
  <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
  <footer>
    <a href="/campgrounds/<%= camp._id %>/edit">Edit Campground</a>
    <a href="/campgrounds">All Campgrounds</a>
  </footer>
